<h3>books</h3>

<% @books.each do |book| %>
  <div class="book">
    <%= book.name %>
    <%= link_to "Show all bookings", book_bookings_path(book) %>
    <%= link_to "Delete", book_path(book), data: { confirm: 'Are you sure?' }, method: :delete %>
    <%= link_to "Edit", edit_book_path(book) %>
    <%= link_to "Add booking", new_book_booking_path(book) %>
  </div>
<% end %>
